<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Dashboard | Himalayan Milestone Tours & Travels{% endblock %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dashboard/css/theme-default.css') }}">


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block slider %}{% endblock %}

<!-- START PAGE CONTAINER -->
<div class="page-container">

    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="javascript:void(0);">Admin Panel</a>
                <a href="#" class="x-navigation-control"></a>
            </li>
            <li class="xn-profile">
                <a href="#" class="profile-mini">
                    <img src="{{ asset('dashboard/img/login-logo.png') }}" alt="Yangzeela Tours & Travels"/>
                </a>
                <div class="profile">

                    <a href="#" class="profile-mini">
                        <img src="{{ asset('dashboard/img/login-logo.png') }}" alt="Yangzeela Tours & Travels"/>
                    </a>
                    <div class="profile-data">
                        <div class="profile-data-title">Yangzeela Tours & Travels</div>
                    </div>
                </div>
            </li>
            <li>
                <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                <a href="{{ path('location_index') }}"><span class="fa fa-map-marker"></span> <span class="xn-text">Location</span></a>
                <a href="{{ path('destination_index') }}"><span class="fa fa-anchor"></span> <span class="xn-text">Destination</span></a>
                <a href="{{ path('packages_index') }}"><span class="fa fa-suitcase"></span> <span class="xn-text">Tour Package</span></a>
                <a href="{{ path('adventure_index') }}"><span class="fa fa-bolt"></span> <span class="xn-text">Adventure</span></a>
                <a href="{{ path('gallery_index') }}"><span class="fa fa-picture-o"></span> <span class="xn-text">Photo Gallery</span></a>
                <a href="{{ path('pages_index') }}"><span class="fa fa-info-circle"></span> <span class="xn-text">Other Pages</span></a>
                <a href="{{ path('contactdetails_edit',{'id':1}) }}"><span class="fa fa-envelope"></span> <span class="xn-text">Contact</span></a>
            </li>
        </ul>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->

            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <!-- END SIGN OUT -->

            <!-- MESSAGES -->
            <li class="xn-icon-button pull-right">
                <a href="{{ path('home') }}" target="_blank"><span class="fa fa-eye"></span></a>
            </li>
            <!-- END MESSAGES -->

        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li>Welcome to Administrative Dashboard</li>
        </ul>
        <!-- END BREADCRUMB -->

        {% block body %}{% endblock %}
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
            <div class="mb-content">
                <p>Are you sure you want to log out?</p>
                <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-success btn-lg">Yes</a>
                    <button class="btn btn-default btn-lg mb-control-close">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MESSAGE BOX-->

<!-- START PRELOADS -->
<audio id="audio-alert" src="{{ asset('dashboard/audio/alert.mp3') }}" preload="auto"></audio>
<audio id="audio-fail" src="{{ asset('dashboard/audio/fail.mp3') }}" preload="auto"></audio>
<!-- END PRELOADS -->

{% block javascripts %}
    <script src="{{ asset('dashboard/js/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('dashboard/js/plugins/jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('dashboard/js/plugins/bootstrap/bootstrap.min.js') }}"></script>


    <script src="{{ asset('dashboard/js/plugins/blueimp/jquery.blueimp-gallery.min.js') }}"></script>
    <script src="{{ asset('dashboard/js/plugins/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ asset('dashboard/js/plugins/icheck/icheck.min.js') }}"></script>

    {#WYSIYUG#}
    <script src="{{ asset('dashboard/js/plugins/summernote/summernote.js') }}"></script>


    <script src="{{ asset('dashboard/js/plugins.js') }}"></script>
    <script src="{{ asset('dashboard/js/actions.js') }}"></script>
{% endblock %}
</body>
</html>
