{% extends '::admin.html.twig' %}

{% block body %}

    <div class="page-title">
        <h2><span class="fa fa-info-circle"></span> Location</h2>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <strong>Add or Edit Content</strong><br><br>
                        <div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Location</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for location in locations %}
                                    <tr>
                                        <td><a href="{{ path('location_show', { 'id': location.id }) }}">{{ location.id }}</a></td>
                                        <td>{{ location.destinationName }}</td>
                                        {#<td width="15%">#}
                                            {#<table>#}
                                                {#<tr>#}
                                                    {#<td width="80px">#}
                                                        {#<a href="{{ path('location_show', { 'id': location.id }) }}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> show</a>#}
                                                    {#</td>#}
                                                    {#<td width="80px">#}
                                                        {#<a href="{{ path('location_edit', { 'id': location.id }) }}" class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> edit </a>#}
                                                    {#</td>#}
                                                {#</tr>#}
                                            {#</table>#}
                                        {#</td>#}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                        {#<a href="{{ path('location_new') }}" class="btn btn-sm btn-default"><i class="fa fa-pencil"></i>Create New Location</a>#}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <ul>
        <li>
            <a href="{{ path('location_new') }}">Create a new location</a>
        </li>
    </ul>
{% endblock %}
